header {
    position: relative;
    background: linear-gradient(
        90deg,
        rgba(176, 106, 168, 1) 0%,
        rgba(217, 13, 108, 1) 51%,
        rgba(100, 0, 88, 1) 100%
    );
    color: #fff;
    padding: 1.6vw;
    text-align: center;
    
}

.title {
    margin: 5vh 0vh 2vh 0;
    font-size: 10vh;
}

.custom-shape-divider-bottom-1760728740 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1760728740 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.custom-shape-divider-bottom-1760728740 .shape-fill {
    fill: #FFFFFF;
}

.dirButton {
    background: #fff;
    border: 0;
    border-radius: 20px;
    padding: 0.5vw 1.5vw;
    margin:0 3vw 15vw;
    font-size: 3vh;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}