body{
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  text-align: center;
}

h1, p, button, h2, h3{
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
}

.ranking_list {
  align-self: center;
}